<header>
  <h3>{{title}}</h3>
</header>

<section class="sw5e-starship-warnings-body">
  <p>{{body}}</p>
  <p>{{actorName}}</p>
</section>

<form method="dialog">
  <button type="submit">{{closeLabel}}</button>
</form>
